

<div id="one" class="page"> 

  
  <div class="container">
    <div class="jumbotron">
      <h1>Witaj w Blogowni!</h1>
      <p>...</p>
      <p>
      <%= link_to 'Zarejestruj się!', new_user_registration_path , class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>

  <div id="toSecond" class="bounce"><i class="fa fa-angle-double-down"></i></div>
</div>


<div id="two" class="page">

  <div id ="toFirst"class="bounce_reverse"><i class="fa reverse fa-angle-double-down "></i></div>


  <div class="container">
    <div class="jumbotron">
      <h2>Chcesz podzielić się swoimi przeżyciami? </h2>
      <p>...</p>
      <%= link_to 'Zapisz się już teraz!', new_user_registration_path , class: 'btn btn-success btn-lg' %>
      </p>      
    </div>
  </div>

  <div id="toThird" class="bounce"><i class="fa fa-angle-double-down"></i></div>
</div>


<div id="three" class="page">
  <div id="toSecond2" class="bounce_reverse"><i class="fa reverse fa-angle-double-down "></i>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h1> das dasdas dsa</h1>
      <p>...</p>
      <%= link_to 'qwe qwe qwe', new_user_registration_path , class: 'btn btn-success btn-lg' %>
      </p>      
    </div>
  </div>
</div>