/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body{
  background: rgba(255, 255, 255, 0.5) url('/assets/tlo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: scroll;
  min-height: 100vh;
  

}

a{
  text-decoration: none;
  color: inherit;
}

.my_nav{

  height: 100vh;
  background-color: rgba(10, 10 ,10,0.8);
  width: 100%;
}

.my_body{
  padding: 30px;
  color: white;
  background-color: rgba(20,20,20,0.8);
  width: 100%;
  
}

.article{
  

}

.article img {
  height: 100px;
  width: 100px;

}


#not_register, #not_register a{
  position: fixed;
  left: 90%;
  top: 5%;
  font-size: 120%;



}