body{
  overflow-x: hidden; 

}

.page{
  position: absolute;
  left: 0;
  height: 100vh; width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

#one{
  background: rgba(255, 255, 255, 0.5) url('/assets/tlo.jpg');
  top: 0;
}

#two{
  background: rgba(255, 255, 255, 0.5) url('/assets/tlo2.jpg');
  top: 100vh
}

#three{
  background: rgba(255, 255, 255, 0.5) url('/assets/tlo3.jpg');
  top: 200vh
}

.jumbotron{
  margin-top: 15%;
  opacity: 0.6;

}


